Repository canggihpw/devsweep: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Backend Module, Checker Modules, Core Utilities

codecov.yml:

# Codecov configuration for DevSweep

coverage:
  status:
    project:
      default:
        target: 70%           # Overall project coverage target
        threshold: 2%         # Allow 2% drop before failing
        
    patch:
      default:
        target: 60%           # New code coverage target
        threshold: 5%

  precision: 2
  round: down
  range: 50..90              # Coverage range (red to green)

ignore:
  - "src/main.rs"            # Ignore main entry point
  - "src/ui/**"              # Ignore UI components (hard to test)
  - "src/app.rs"             # Ignore GPUI app setup
  - "src/assets.rs"          # Ignore asset loading
  - "tests/**"               # Don't include tests in coverage

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
  
  individual_components:
    - component_id: backend
      name: Backend Module
      paths:
        - src/backend.rs
      
    - component_id: checkers
      name: Checker Modules
      paths:
        - src/checkers/**
        
    - component_id: core
      name: Core Utilities
      paths:
        - src/types.rs
        - src/utils.rs
        - src/cache_settings.rs
        - src/cleanup_history.rs
        - src/scan_cache.rs

fix: correct workflow branch names and remove hardcoded test badge
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  README.md
Due: none

fix: resolve all clippy and rustfmt warnings for CI
  src/app/actions.rs
  src/app/state.rs
  src/app/tabs/scan_tab.rs
  src/backend.rs
  src/checkers/db.rs
  src/checkers/docker.rs
  src/checkers/homebrew.rs
  src/checkers/ide.rs
  src/checkers/logs.rs
  src/checkers/nodejs.rs
  src/checkers/shell.rs
  src/scan_cache.rs
  tests/performance_tests.rs
  tests/test_backend.rs
  tests/test_checkers.rs
  tests/test_cleanup_history.rs
  tests/test_types.rs
Due: unittests, Backend Module, Checker Modules, Core Utilities

fix: optimize workflows and update codecov badge
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  README.md
Due: none

docs: add comprehensive test coverage improvement plan
  docs/coverage/IMPROVEMENT_PLAN.md
  docs/coverage/QUICK_CHECKLIST.md
Due: none

docs: add coverage improvement executive summary
  docs/coverage/README.md
Due: none

docs: add Git workflow and branching strategy guide
  docs/GIT_WORKFLOW.md
Due: none

docs: update docs index with Git workflow and coverage guides
  docs/README.md
Due: none

docs: emphasize local commits before pushing in workflow
  docs/GIT_WORKFLOW.md
Due: none

refactor: switch from Git Flow to GitHub Flow (main as single branch)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  README.md
  docs/GIT_WORKFLOW.md
Due: none

docs: add migration guide from development to main branch
  docs/MIGRATION_TO_MAIN.md
Due: none

Phase 1: Coverage improvements - backend, scan_cache, cleanup_history tests
  docs/MAINTAINER_GUIDE.md
  docs/MIGRATION_TO_MAIN.md
  lcov.info
  tests/test_backend.rs
  tests/test_cleanup_history.rs
  tests/test_nodejs_checker.rs
  tests/test_scan_cache.rs
Due: none

Add Phase 1 completion report
  docs/coverage/PHASE1_COMPLETION.md
Due: none

docs: add Phase 1 executive summary and update checklist
  PHASE1_SUMMARY.md
  docs/coverage/QUICK_CHECKLIST.md
Due: none

ci: set codecov to informational mode - show coverage without failing CI
  codecov.yml
Due: none

Phase 2: Add checker structure tests (Docker, Python, Xcode)
  tests/test_docker_checker.rs
  tests/test_python_checker.rs
  tests/test_xcode_checker.rs
Due: none

docs: add final Phase 1+2 completion summary
  COVERAGE_IMPROVEMENT_COMPLETE.md
Due: none

fix: clippy errors and optimize CI workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  tests/test_docker_checker.rs
Due: none

fix: remove useless unsigned comparison in nodejs test
  tests/test_nodejs_checker.rs
Due: none

ci: run CI workflow only on pull requests (not on push)
  .github/workflows/ci.yml
Due: none

ci: remove redundant test job from CI workflow
  .github/workflows/ci.yml
Due: none

docs: update coverage README to reflect Phase 1 & 2 completion
  docs/coverage/README.md
Due: none

feat: complete phase 3-4 coverage improvements with UI exclusions
  COVERAGE_IMPROVEMENT_COMPLETE.md
  PHASE1_SUMMARY.md
  codecov.yml
  docs/coverage/IMPROVEMENT_PLAN.md
  docs/coverage/PHASE1_COMPLETION.md
  docs/coverage/QUICK_CHECKLIST.md
  docs/coverage/README.md
  src/lib.rs
  src/main.rs
  src/single_instance.rs
  tests/integration/test_workflows.rs
  tests/test_edge_cases.rs
  tests/test_integration_workflows.rs
  tests/test_persistence.rs
  tests/test_single_instance.rs
Due: unittests

docs: update documentation to reflect current implementation
  CHANGELOG.md
  README.md
  docs/PROJECT_SUMMARY.md
  docs/README.md
  docs/TESTING.md
  docs/coverage/README.md
Due: none

chore: release version 0.2.0
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/PROJECT_SUMMARY.md
Due: none

docs: add GitHub Actions workflow information to versioning guide
  docs/VERSIONING.md
Due: none

fix: resolve clippy warnings in test_persistence.rs
  tests/test_persistence.rs
Due: none

perf: optimize CI workflow by combining tests and coverage
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
  docs/VERSIONING.md
Due: none

fix: remove duplicate test run in CI coverage step
  .github/workflows/ci.yml
Due: none

perf: add cargo caching to CI workflow for faster builds
  .github/workflows/ci.yml
Due: none

fix: make create-app-bundle.sh read version from Cargo.toml dynamically
  scripts/create-app-bundle.sh
Due: none

chore: prepare release v0.3.0
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/AI_CONTEXT.md
  docs/GIT_WORKFLOW.md
  docs/PROJECT_SUMMARY.md
  docs/README.md
  src/app/actions.rs
  src/app/render.rs
  src/app/state.rs
  src/app/tabs/about_tab.rs
  src/app/tabs/scan_tab.rs
  src/app/tabs/settings_tab.rs
  src/backend.rs
  src/checkers/git.rs
  src/checkers/mod.rs
  src/custom_paths.rs
  src/lib.rs
  src/main.rs
  src/scan_cache.rs
  src/update_checker.rs
Due: unittests, Backend Module, Checker Modules, Core Utilities

docs: compact documentation and update release workflow
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/GIT_WORKFLOW.md
  docs/PROJECT_SUMMARY.md
  docs/README.md
  docs/TESTING.md
  docs/VERSIONING.md
  docs/coverage/README.md
Due: none

feat: add size threshold filters and non-blocking UI
  CHANGELOG.md
  README.md
  docs/AI_CONTEXT.md
  docs/TESTING.md
  src/app/actions.rs
  src/app/state.rs
  src/app/tabs/scan_tab.rs
  tests/test_db_checker.rs
  tests/test_docker_checker.rs
  tests/test_go_checker.rs
  tests/test_homebrew_checker.rs
  tests/test_ide_checker.rs
  tests/test_shell_checker.rs
Due: unittests

feat: add storage trends feature and UI improvements
  CHANGELOG.md
  README.md
  docs/AI_CONTEXT.md
  src/app/actions.rs
  src/app/render.rs
  src/app/state.rs
  src/app/tabs/mod.rs
  src/app/tabs/scan_tab.rs
  src/app/tabs/trends_tab.rs
  src/backend.rs
  src/lib.rs
  src/trends.rs
  src/ui/sidebar.rs
Due: unittests, Backend Module

feat: implement elegant UI design improvements
  src/app/actions.rs
  src/app/render.rs
  src/app/state.rs
  src/app/tabs/scan_tab.rs
  src/ui/theme.rs
  uirev.md
Due: unittests

fix: improve scan dropdown UI
  src/app/tabs/scan_tab.rs
  uirev.md
Due: unittests

feat: add port manager to list and kill processes using ports
  README.md
  docs/AI_CONTEXT.md
  src/app/actions.rs
  src/app/render.rs
  src/app/state.rs
  src/app/tabs/mod.rs
  src/app/tabs/ports_tab.rs
  src/lib.rs
  src/port_manager.rs
  src/ui/sidebar.rs
  src/ui/theme.rs
Due: unittests

fix: add -f flag to docker system prune command
  src/checkers/docker.rs
Due: unittests, Checker Modules

feat: add port categorization and safety levels
  src/app/tabs/ports_tab.rs
  src/port_manager.rs
  src/ui/theme.rs
Due: unittests

chore: prepare release v0.4.0
  CHANGELOG.md
  Cargo.toml
  src/app/actions.rs
  src/app/state.rs
  src/app/tabs/scan_tab.rs
  src/backend.rs
  src/checkers/android.rs
  src/checkers/bun.rs
  src/checkers/flutter.rs
  src/checkers/general.rs
  src/checkers/homebrew.rs
  src/checkers/logs.rs
  src/checkers/mod.rs
  src/checkers/python.rs
  src/checkers/rust_cargo.rs
  src/checkers/swift.rs
  src/scan_cache.rs
  src/utils.rs
  tests/test_persistence.rs
  tests/test_super_categories.rs
Due: unittests, Backend Module, Checker Modules, Core Utilities
